article.MoviesList {
  background-color: #111;
  padding-top: 50px;

  &.active {
    height: calc(100vh - (86px + 208px) + 50px);
  }

  > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  > h6 {
    text-align: center;
    font-size: 30px;
    color: white;
    display: block;
    height: 100%;

    a {
      color: white;
    }
  }
  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    svg {
      font-size: 80px;
      animation: rotation 2s infinite linear;
      color: white;
    }

    @keyframes rotation {
      from {
        -webkit-transform: rotate(0deg);
      }
      to {
        -webkit-transform: rotate(359deg);
      }
    }
  }
}
