div.MovieCardDetails {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.5);

  overflow-y: auto;

  > div {
    max-width: 800px;
    width: 100%;
    color: white;
    background-color: #222;
    padding: 0 20px 50px;

    > span {
      display: flex;
      justify-content: flex-end;
      font-size: 25px;
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 0.3s;
      padding: 20px 0 20px;

      &:hover {
        opacity: 1;
      }
    }
    > main {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      > figure {
        display: block;
        min-width: 300px;
        width: 300px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &:after {
          content: "";
          display: block;
          padding-top: 150%;
        }
      }
      > aside {
        margin-left: 20px;

        h1 {
        }
        p {
        }
        article {
          margin-top: 20px;

          > div {
            display: flex;
            justify-content: space-between;

            &:first-child {
              margin-bottom: 15px;
            }
          }
        }
        hr {
          opacity: 0.2;
          border-color: white;
          margin: 20px 0;
        }
        form {
          > p {
            font-size: 20px;
            margin-bottom: 15px;
          }
          > div {
            margin-bottom: 5px;
          }
          > textarea {
            width: 100%;
            border-radius: 8px;
            height: 100px;
            outline: none;
            padding: 15px;
            font-size: 16px;
          }
          > button {
            margin-top: 10px;
            outline: none;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.5);
            border: 1px solid white;
            border-radius: 5px;
            padding: 2px 10px;
            font-size: 16px;
            color: white;
            transition: 0.2s;
            font-weight: 500;

            &:hover {
              background: white;
              color: #222;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  div.MovieCardDetails {
    min-height: 100vh;
    height: 100%;
    > div {
      min-height: 100vh;
      height: fit-content;

      > main {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > aside {
          margin: 0;
        }

        > figure {
          display: none;
        }
      }
    }
  }
}
